<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bob Esponja Store</title>

    <!-- VUE CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- STYLE -->
    <link rel="stylesheet" href="assets/styles.css">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="./assets/img/spatula.png" type="image/x-icon">
</head>
<body>

    <div id="app">
        <header class="header">
            <img src="./assets/img/icons-bob.png" alt="Bob-Store">
            <h1>BOB STORE</h1>
        </header>
        <main>
            <section v-if="!dado" class="secao-produtos">

                <h1>Nossos Produtos</h1>

                <div  
                    @click="mostrarProduto(produto)" 
                    class="item-produto"
                    v-for="produto in produtos" 
                    :key="produto.id"
                >
                    <img :src="produto.imgs[0]">
                    <p>{{ produto.nome }}</p>
                    
                </div>
                
            </section>

            <section v-if="dado" class="secao-dados">

                <div class="secao-dados-menu">

                    <img class="botao-voltar" @click="mostrarProduto()" src="./assets/img/down-arrow.png">
                    <div><img src="./assets/img/shopping-cart.png" alt="Carrinho:"> {{ carrinho }}</div>

                </div>
                
                <section class="secao-dados-imagem">

                    <img :src="dado.imgs[posicaoImagem]">

                    <div>
                        <img v-for="(img, index) in dado.imgs" :key="index" :src="img" @mouseover="mudarImagem(index)">
                    </div>

                </section>

                <section class="secao-dados-informacao">

                    <h1>{{ dado.nome }}</h1>

                    <p>R$ {{ dado.preco.toFixed(2).replace('.', ',') }}</p>

                    <p v-if="carrinho >= 30" style="color: crimson;">Limite máximo de compra atingido</p>

                    <button 
                        @click="addCarrinho" 
                        class="botao-carrinho"
                        :class="{ botaoDesativado : carrinho >= 30 }"
                        :disabled="carrinho >= 30"
                    >
                        Adicionar ao carrinho
                    </button>

                </section>

            </section>
        </main>         

    </div>
    
    <script type="text/javascript" src="./assets/script.js"></script>
    
</body>
</html>