<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bob Esponja Stores</title>

    <!-- VUE CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- STYLE -->
    <link rel="stylesheet" href="assets/styles.css">
</head>
<body>

    <div id="app">

        <main>
            <section v-if="!dado" class="secao-produtos">

                <div  
                    @click="mostrarProduto(produto)" 
                    class="item-produto"
                    v-for="produto in produtos" 
                    :key="produto.id"
                >
                    <img :src="produto.img" alt="">
                    {{ produto.nome }}
                    
                </div>
                
            </section>

            <section v-if="dado" class="secao-dados">
                
                <section class="secao-dados-imagem">

                    <img :src="dado.img" alt="">

                    <div>
                        <img src="./assets/img/cubo-teste.jpg" alt="">
                        <img src="./assets/img/cubo2.webp" alt="">
                    </div>

                </section>

                <section class="secao-dados-informacao">

                    <div>
                        <button class="botao-voltar" @click="mostrarProduto()">voltar</button>
                        <div>Carrinho: </div>
                    </div>

                    <h1>Nome do Produto</h1>

                    <p>Preço</p>

                    <button class="botao-carrinho">Adicionar ao carrinho</button>

                </section>

            </section>
        </main>         

    </div>
    
    
    <script>

        const { createApp, ref } = Vue

        createApp({
            setup() {
             
             const produtos = [
                {id: 1, nome: 'cubo 1', img: './assets/img/cubo-teste.jpg'},
                {id: 2, nome: 'cubo 2', img: './assets/img/cubo-teste.jpg'},
             ];

             const dado = ref();

             const mostrarProduto = (product) => {
                dado.value = product
             };

            return {
               produtos,
               dado, 
               mostrarProduto,
            }
            }
        }).mount('#app')
    </script>
    
</body>
</html>