@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* :root {
    --selective-yellow: #FBAF00;
    --gold: #FFD639;
    --raisin-black: #342E37;
    --anti-flash-light: #F0F3F5;
    --space-grotesk: "Space Grotesk", sans-serif;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
}

main {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.secao-produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 80vw;
    justify-self: center;
    margin: 0 auto 5rem;
}

.secao-produtos h1 {
    display: grid;
    grid-column: 1 / 4;
    font-size: 2rem;
    text-align: center;
    margin: 5rem 0 2rem;
}

.item-produto {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.item-produto:hover {
    box-shadow: 5px 5px 5px #FFD639;
    transition: .2s;
}

.item-produto img {
    width: 70%;
    cursor: pointer;
}

.item-produto p:hover {
    cursor: pointer;
    color: #FBAF00;
}

.secao-dados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0 5rem;
}

.secao-dados-menu {
    display: flex;
    grid-column: 2/3;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.secao-dados-menu > div {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-right: 10px;
}

.secao-dados-imagem {
    display: grid;
    justify-items: center;
}

.secao-dados-imagem img {
    width: 80%;
}

.secao-dados-imagem > div {
    display: flex;
    padding: 0 1rem;
    gap: 10px;
}

.secao-dados-imagem > div > img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 5px;
}

.secao-dados-informacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 1rem;
}

.secao-dados-informacao h1 {
    font-size: 2rem;
}

.secao-dados-informacao p {
    font-size: 1.5rem;
}

.botao-voltar {
    width: 40px;
    background-color: #FFD639;
    border-radius: 50%;
    cursor: pointer;
}

.botao-voltar:hover {
    background-color: #FBAF00;
}

.secao-dados-informacao > div {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.botao-carrinho {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #FFD639;
    cursor: pointer;
    font-size: 1rem;
}

.botao-carrinho:active {
    background-color: #FBAF00;
}

.botaoDesativado {
    background-color: #342E37;
    color: #F0F3F5;
    cursor: not-allowed;
}

@media (max-width: 900px) {

    .secao-produtos h1 {
        grid-column: 1 / 4;
    }

    .secao-produtos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 750px) {

    .secao-produtos h1 {
        grid-column: 1 / 3;
    }

    .secao-produtos {
        grid-template-columns: 1fr 1fr;
    }

    .secao-dados {
        grid-template-columns: 1fr;
    }

    .secao-dados-menu {
        grid-column: 1 / 2;
    }
}

@media (max-width: 500px) {

    .secao-produtos h1 {
        grid-column: 1 / 2;
    }

    .secao-produtos {
        grid-template-columns: 1fr;
        max-width: 100vw;
    }
}